GEMINI_API_KEY=AIza******
PINECONE_API_KEY=pcsk_*******
LLAMA_CLOUD_API_KEY=llx-*******
REDIS_URL="rediss://default:****?ssl_cert_reqs=none"
GROQ_API_KEY="gsk_********"
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="lsv2_pt_************"
LANGCHAIN_PROJECT="Project-Name"
MAX_KEYWORD_COUNT=50