# Security 
.env

# Python Virtual Environments
.venv/
venv/
__pycache__/
*.pyc

# Node/React
frontend/node_modules/
frontend/dist/
.DS_Store
frontend/.env

# Databases & Evaluation Artifacts
*.db
*.sqlite3
*.jsonl
*.csv
*.pdf
ragas_eval_dataset.jsonl
test_e2e.py
.python-version
packages.txt
.devcontainer